:root {
  --blue-1: oklch(99.31% 0.0034 247.86);
  --blue-2: oklch(98.202% 0.00924 242.83);
  --blue-3: oklch(95.968% 0.02006 238.66);
  --blue-4: oklch(93.807% 0.03496 234.8);
  --blue-5: oklch(90.507% 0.0513 240.31);
  --blue-6: oklch(86.327% 0.0682 243.32);
  --blue-7: oklch(80.976% 0.08867 243.05);
  --blue-8: oklch(73.361% 0.12136 243.09);
  --blue-9: oklch(64.929% 0.19304 251.78);
  --blue-10: oklch(62.23% 0.18312 251.7);
  --blue-11: oklch(55.575% 0.16222 252.19);
  --blue-12: oklch(32.396% 0.09638 258.82);

  --blue-a1: oklch(61.517% 0.21082 256.1 / 0.01569);
  --blue-a2: oklch(64.063% 0.19737 252.97 / 0.04314);
  --blue-a3: oklch(64.065% 0.1821 250.16 / 0.09804);
  --blue-a4: oklch(68.016% 0.17876 246.98 / 0.16471);
  --blue-a5: oklch(65.584% 0.18986 250.83 / 0.23922);
  --blue-a6: oklch(62.593% 0.19081 252.62 / 0.32549);
  --blue-a7: oklch(60.762% 0.18284 252.19 / 0.44314);
  --blue-a8: oklch(60.653% 0.17564 250.85 / 0.63137);
  --blue-a9: oklch(64.929% 0.19304 251.78);
  --blue-a10: oklch(61.755% 0.18567 252.16 / 0.98039);
  --blue-a11: oklch(53.673% 0.16762 253.41 / 0.94902);
  --blue-a12: oklch(27.219% 0.10532 258.96 / 0.93333);
}

.dark {
  --blue-1: oklch(19.361% 0.0255 256.49);
  --blue-2: oklch(21.293% 0.03034 261.25);
  --blue-3: oklch(27.447% 0.06629 253.93);
  --blue-4: oklch(32.014% 0.09678 252.35);
  --blue-5: oklch(36.71% 0.10588 250.7);
  --blue-6: oklch(41.603% 0.11326 252.01);
  --blue-7: oklch(47.411% 0.12187 253.09);
  --blue-8: oklch(54.057% 0.13954 253.17);
  --blue-9: oklch(64.929% 0.19304 251.78);
  --blue-10: oklch(68.838% 0.16933 251.4);
  --blue-11: oklch(76.422% 0.12575 249.46);
  --blue-12: oklch(90.712% 0.05104 238.45);

  --blue-a1: oklch(50.709% 0.25297 262.9 / 0.06667);
  --blue-a2: oklch(56.16% 0.23461 261.37 / 0.09412);
  --blue-a3: oklch(59.666% 0.22118 258.03 / 0.22745);
  --blue-a4: oklch(59.263% 0.2235 258.41 / 0.34118);
  --blue-a5: oklch(61.581% 0.20722 255.61 / 0.41961);
  --blue-a6: oklch(63.388% 0.19713 254.06 / 0.49804);
  --blue-a7: oklch(65.562% 0.18565 253.83 / 0.59608);
  --blue-a8: oklch(66.337% 0.18114 253.5 / 0.72549);
  --blue-a9: oklch(64.929% 0.19304 251.78);
  --blue-a10: oklch(68.838% 0.16933 251.4);
  --blue-a11: oklch(76.422% 0.12575 249.46);
  --blue-a12: oklch(90.712% 0.05104 238.45);
}
