:root {
  --red-1: oklch(99.336% 0.00319 17.211);
  --red-2: oklch(98.232% 0.00858 17.302);
  --red-3: oklch(95.547% 0.02072 13.857);
  --red-4: oklch(92.172% 0.04011 16.004);
  --red-5: oklch(89.204% 0.05675 16.926);
  --red-6: oklch(85.69% 0.07407 17.676);
  --red-7: oklch(80.699% 0.08879 18.32);
  --red-8: oklch(74.434% 0.11325 18.753);
  --red-9: oklch(62.557% 0.19334 23.026);
  --red-10: oklch(59.902% 0.19466 24.035);
  --red-11: oklch(55.7% 0.19743 25.168);
  --red-12: oklch(33.899% 0.10891 16.6);

  --red-a1: oklch(62.796% 0.25768 29.234 / 0.01176);
  --red-a2: oklch(62.796% 0.25768 29.234 / 0.03137);
  --red-a3: oklch(60.58% 0.24794 28.422 / 0.07843);
  --red-a4: oklch(62.815% 0.25739 28.793 / 0.14118);
  --red-a5: oklch(62.81% 0.25746 28.903 / 0.19608);
  --red-a6: oklch(61.495% 0.25215 28.998 / 0.25882);
  --red-a7: oklch(56.754% 0.23272 29.009 / 0.33725);
  --red-a8: oklch(54.258% 0.22234 28.806 / 0.44314);
  --red-a9: oklch(56% 0.22939 28.69 / 0.71765);
  --red-a10: oklch(54.065% 0.22154 28.802 / 0.75686);
  --red-a11: oklch(51.535% 0.21106 28.636 / 0.82745);
  --red-a12: oklch(28.392% 0.11435 21.886 / 0.9098);
}

.dark {
  --red-1: oklch(18.803% 0.01345 18.42);
  --red-2: oklch(20.458% 0.02168 14.064);
  --red-3: oklch(25.105% 0.06494 12.692);
  --red-4: oklch(28.929% 0.09511 14.33);
  --red-5: oklch(33.211% 0.10667 15.526);
  --red-6: oklch(38.144% 0.11082 16.803);
  --red-7: oklch(45.018% 0.12106 18.774);
  --red-8: oklch(54.356% 0.14576 21.762);
  --red-9: oklch(62.557% 0.19334 23.026);
  --red-10: oklch(66.338% 0.17739 22.851);
  --red-11: oklch(78.041% 0.12812 22.139);
  --red-12: oklch(90.236% 0.05268 6.4541);

  --red-a1: oklch(61.153% 0.24494 28.705 / 0.03529);
  --red-a2: oklch(62.466% 0.22694 23.589 / 0.06667);
  --red-a3: oklch(63.682% 0.24918 21.918 / 0.17647);
  --red-a4: oklch(63.141% 0.25183 22.213 / 0.26667);
  --red-a5: oklch(64.112% 0.24541 20.56 / 0.33725);
  --red-a6: oklch(66.125% 0.22643 19.733 / 0.40784);
  --red-a7: oklch(68.211% 0.20722 20.072 / 0.51765);
  --red-a8: oklch(69.292% 0.19715 22.461 / 0.6902);
  --red-a9: oklch(67.334% 0.21195 23.148 / 0.89412);
  --red-a10: oklch(70.183% 0.18943 22.963 / 0.92157);
  --red-a11: oklch(78.041% 0.12812 22.139);
  --red-a12: oklch(90.236% 0.05268 6.4541);
}

@theme inline {
  --color-red-1: var(--red-1);
  --color-red-2: var(--red-2);
  --color-red-3: var(--red-3);
  --color-red-4: var(--red-4);
  --color-red-5: var(--red-5);
  --color-red-6: var(--red-6);
  --color-red-7: var(--red-7);
  --color-red-8: var(--red-8);
  --color-red-9: var(--red-9);
  --color-red-10: var(--red-10);
  --color-red-11: var(--red-11);
  --color-red-12: var(--red-12);
}
